// Colors

$white: #ECEBEC;
$black: #0f110c;
$grey: #8b8b8b;
$accent: #4d9735;
$dark-accent: #417f2c;
$sprite-text: #313131;
$stripe-blue: #4C5269;
$stripe-red: #221921;
$stripe-green: #1c241c;

// text
$h1-font-sz: 7rem;
$h2-font-sz: 2rem;
$p-font-sz: 1.3rem;
$link-button-sz: 1rem;
$para-line-height: 1.5;
$para-text-space: 1px;

// max width
$max-width: 80vw;

// header height
$nav-height: 3.5rem;

// page spacing
$sect-spacer: 15vh;
$column-gap: 3em;
$rel-margin-bot: 2em;