// Colors

$white: #ECEBEC;
$black: #0f110c;
$grey: #8b8b8b;
$accent: #4d9735;
$dark-accent: #417f2c;
$sprite-text: #313131;
$stripe-blue: #4C5269;
$stripe-red: #221921;
$stripe-green: #1c241c;
// Bosstep colors
$bosstep-primary-color: #8856B9;
$bosstep-secondary-color: #E78977;

// text - h1-h4, p, li, a
// desktop
$lrg-font-sz: 4vw;
$med-font-sz: 1.5rem;
$sm-font-sz: 1.5rem;

// mobile
$mob-lrg-font-sz: 7vw;
$mob-med-font-sz: 2.4rem;
$mob-sm-font-sz: 1.2rem;

// text spacing
$para-line-height: 2;
$para-text-space: 1px;
$citation-spacing: 1px;
$mobile-paragraph-sz: 1.1rem; 
$mobile-line-height: 2rem;

// header height
$nav-height: 3.5rem;

// page spacing
$sect-spacer-mobile: 5vh;
$sect-spacer: 12.5vh;
$column-gap: 3em;
$rel-margin-bot: 1.5rem;
$rel-margin: 1.5rem;

// grid
$grid-gap: 1.5rem;
$max-col-full: 1;
$max-col-r-heavy: 1;
