// Colors

$white: #ECEBEC;
$black: #0f110c;
$grey: #8b8b8b;
$accent: #4d9735;
$dark-accent: #417f2c;
$sprite-text: #313131;
$stripe-blue: #4C5269;
$stripe-red: #221921;
$stripe-green: #1c241c;
// Bosstep colors
$bosstep-primary-color: #8856B9;
$bosstep-secondary-color: #E78977;

// text
$h1-font-sz: 7rem;
$h2-font-sz: 2rem;
$p-font-sz: 1.5rem;
$link-button-sz: 1rem;
$para-line-height: 2;
$para-text-space: 1px;
$citation-spacing: 2px;
$mobile-paragraph-sz: 1.1rem; 
$mobile-line-height: 2rem;


// header height
$nav-height: 3.5rem;

// page spacing
$sect-spacer: 15vh;
$column-gap: 3em;
$rel-margin-bot: 2rem;
$rel-margin: 2rem;

// grid
$grid-gap: 1.5rem;
$max-col-full: 1;
$max-col-r-heavy: 1;
