// Imports
@import '../style/base/variables.scss';
@import '../style/base/mixins.scss';

// === Intro banner
main{
    overflow-x: hidden;
}

.text-banner{
    display: flex;
}
.intro-wrapper{
    height: 92.5vh;
    h1{
        margin-bottom: 0;       
    }
    p{
        font-weight: 600;
    }
    .intro-text-banner{
        display: flex;
        grid-row-start: 2;
        flex-direction: column-reverse;
    }
    .media-links{    
        height: max-content;
        overflow: hidden;
        grid-row-start: 3;
        display: flex;
        .static-btn:first-child{
            margin-right: 2rem;
        }
    }
}

// === About section

.about-section {
    background: $white;
    @include box-shadow($shadows);
    padding: 20vh 0;
    color: $black;
    p{
        font-weight: 400;
    }
}

// === Project section
.hero-banner{
    height: 60vh;
}

.project{
    .grid-container{
        @include shadows-project($shadows-project);
    }
    .blue-tab{
        background: #262935;
    }
    .red-tab{
        background: #352633;
    }
    .green-tab{
        background: #263527;
    }
    .max-col{
        display: flex;
    }
}

.project{
    .grid-container{
        padding: 2rem 0;
    }
}


.img-contain img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition-duration: .4s;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 1;
}

.img-contain-maintain-w img{
    object-fit: cover;
    width: 100%;
    height: auto;
    transition-duration: .4s;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 1;
}

.project-description{
    color: $white;
    border-radius: .5rem;
    @include shadows-description($shadows-description);
    padding: 3rem 0;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    background: none;
    z-index: 1;
    .sub-container{
        .title-wrapper{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 2;
            grid-column-end: 12;
        }
        .contribution-wrapper-r{
            grid-row-start: 2;
            grid-column-start: 2;
            grid-column-end: 12;
            h3{
                margin-top: 1rem;
            }
        }
        .primary-btn, .disable-btn{
            grid-row-start: 3;
            grid-column-start: 2;
            grid-column-end: 12;
        }
    }
}


// Other projects
.otr-proj-sect{
    .sub-container{
        margin-top: 5vh;
    }
    h3{
        margin-top: 2rem;
    }
    .otr-proj-container{
        margin-bottom: 10vh;
        .otr-proj{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .otr-proj-1{
            grid-column-start: 1;
        }
        .sub-container{
            grid-gap: 4em;
        }
    }
}

.color-stripe-blue{
    background: $stripe-blue;
}
.color-stripe-green{
    background: $stripe-green;
}
.color-stripe-red{
    background: $stripe-red;
}

.color-stripe-container-1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100%;
    display: flex;
}

.color-stripe-container-2 {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-column-end: 13;
    height: 100%;
    display: flex;
    z-index: 1;
}

// home page color stripes
.color-stripe-1{
    @include shadows-green-stripe($shadows-green-stripe);
    height: 100px;
    width: 100%;
    margin: auto;
}

.color-stripe-2{
    @include shadows-green-stripe($shadows-green-stripe);
    height: 100px;
    width: 100%;
    margin: auto;
}



// CSSTransition Group - Page Swipe animation
.line-wrap-1{
    overflow: hidden;
}

.line-wrap-2{
    overflow: hidden;
}
