@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');


$white: #ECEBEC;
$black: #0f110c;
$grey: #8b8b8b;
$bg-color: #0f110c;
$accent: #4d9735;
$dark-accent: #417f2c;
$description-tab: #e7e7e7;
$sprite-text: #313131;
$color-bg: #cccfda;
$stripe: #4C5269;

// !testing
$testing-bg-color: #262935;
$new-white: #FBFCFC;

.highlight-text{
    color: $accent;
}

.highlight-text-dark{
    color: $dark-accent;
}

h1, h2 {
    font-family: 'Lora', serif;
}
p{
    font-size: 1.6rem;
}

h1{
    font-size: 7rem;
}
h2{
    font-size: 3.5rem;
}

header{
    height: 3rem;
}

body{
    color: $sprite-text;
    background-color: $white;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative;
    z-index: 1;
}

.landing-pg{
    background-color: $white;
}

.primary-btn{
    padding: 12px 48px;
    letter-spacing: 6px;
    transition: 0.6s ease-out;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    border: 2px solid $white;
    height: fit-content;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    width: fit-content;
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    // background: #fff;
}

.primary-btn:hover{
    color: $black;
    cursor: crosshair;
}

.primary-btn:before{
    background: #fff;
    content: "";
    position: absolute;
    cursor: crosshair;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: top 0.6s ease-out;
}

.primary-btn:hover:before {
    top: 0;
}

.white-border-btn{
    border: 2px solid $white;
}

.black-border-btn{
    border: 2px solid $black;
}

main{
    min-height: 70vh;
}

::-webkit-scrollbar{
    background: $white; 
}

::-webkit-scrollbar-thumb {
  background: $grey; 
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

// Nav


.desktop-nav-container{
    justify-content: center;
    display: flex;
    width: 100vw;
    position: fixed;
    background-color: $black;
    height: 3.5rem;
    z-index: 10;
}

nav{
    position: fixed;
    max-width: 1240px;
    height: auto;
    ul{
        list-style-type: none;
        margin: auto 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1rem;
            color: $grey;
            transition: 0.3s ease-in-out;
        }
    }
}

ul {
    margin-left: 0;
    padding-left: 0;
    li {
        text-decoration: none;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    } 
}

a:hover{
    color: #f0f0f1;
}

.nav-logo{
    display: flex;
    width:fit-content;
    font-weight: 700;
    font-size: 1rem;
    a{
        margin: auto;
        font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
}

a{
    text-decoration: none;
    color: $grey;
    transition: 0.3s ease-in-out;
}


a.active {
    color: $white;
}

// End of nav

// Footer

footer{
    min-height: 15rem;
    height: 15rem;
    padding: 2.5rem 0 2.5rem 0;
    background:$black;
    color: $white;
    display: flex;
    flex-direction: column;
    p{
        margin-top: 0;
        margin-bottom: .5rem;
    }
    .footer-cell{
        height: 12rem;
    }
    .footer-grid-container > div {
        margin: auto 0;
    }
    .footer-email-wrapper{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .footer-frequent-links-wrapper{
        grid-column-start: 5;
        grid-column-end: 7;
    }
    .footer-social-media-wrapper{
        grid-column-start: 8;
        grid-column-end: 10;
        img:first-child{
            margin-right: 1rem;
        }
    }
    .footer-copyright{
        grid-column-start: 11;
        grid-column-end: 12;
        .copyright{
            font-size: 1rem;
            color: #898989;
        
        }
    }
}

// End of footer

// Home page

// === Intro banner

.intro-wrapper{
    height: 92.5vh;
    h1{
        margin-bottom: 0;        
        font-size: 7rem;
    }
    p{
        font-weight: 600;
    }
    .intro-text-banner{
        display: flex;
        grid-row-start: 2;
        flex-direction: column-reverse;
    }
    .media-links{
        grid-row-start: 3;
        grid-column-end: 12;
        grid-column-start: 2;
        display: flex;
        .static-btn:first-child{
            margin-right: 2rem;
        }
    }
}

// ===== end of Intro banner

// === About section

@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
  }
  $shadows: 45px 15px 75px rgba(222, 222, 222, .67) inset, 7px 20px 30px rgba(35, 34, 36, 0.62) inset;

.about-section {
    background: $white;
    @include box-shadow($shadows);
    padding: 20vh 0;
    color: $black;
    p{
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h2{
        margin-bottom: 0;
    }
}

.about-row-1-col-1{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    h2{
        margin-top: 0;
    }
}

.about-row-1-col-2{
    grid-row-start: 1;
    grid-column-start: 5;
    grid-column-end: 12;
}

.about-row-1-col-3{
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 12;
}

.about-row-2-col-2{
    grid-row-start: 3;
    grid-column-start: 5;
    grid-column-end: 12;
}




// ===== End of about section

// === Project section

$shadows-project: 2px 15px 75px rgba(222, 222, 222, .30) inset, 7px 20px 30px rgba(35, 34, 36, 0.62);


@mixin shadows-project ($params2) {
    -webkit-box-shadow: $params2;
    -moz-box-shadow: $params2;
    box-shadow: $params2;
  }

.project{
    margin-bottom: 15vh;
    padding-bottom: 5rem;
    .grid-container{
        background: #262935;
        padding: 5rem;
        @include shadows-project($shadows-project);
    }
    .max-col{
        display: flex;
    }
}

.project-1{
    margin-top: 20vh;
}

.img-contain{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
}

.img-contain img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition-duration: .4s;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 1;
}

$shadows-description: 0px 0px 7vw rgba(0, 0, 0, .50);


@mixin shadows-description ($params-desc) {
    -webkit-box-shadow: $params-desc;
    -moz-box-shadow: $params-desc;
    box-shadow: $params-desc;
  }

.project-description{
    grid-column-end: 12;
    grid-row-start: 1;
    grid-column-start: 8;
    display: flex;
    z-index: 1;
    color: $white;
    border-radius: .5rem;
    @include shadows-description($shadows-description);
    .sub-container{
        // TODO create glassmorphism class and abstract this
        padding: 3rem;
        backdrop-filter: blur(13px);
        border-radius: 2.2vw;
        background: none;
        // TODO end - 
        .title-wrapper{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 13;
            h2{
                margin-top: 0;
                margin-bottom: 0;
            }
            p{
                margin-top: 0;
            }
        }
        .contribution-wrapper-r{
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 13;
            h3{
                margin-bottom: 0;
                margin-top: 1rem;
            }
            p{
                margin-top: 0;
            }
        }
        .primary-btn{
            grid-row-start: 3;
            grid-column-start: 1;
            grid-column-end: 13;
        }
    }
}

// ===== end of Project section

// ======= end of home page

// Project details apge
.color-stripe{
    background: $stripe;
}

.color-stripe-container-1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100%;
    display: flex;
}

.color-stripe-container-2{
    grid-row-start: 1;
    grid-column-start: 7;
    grid-column-end: 12;
    height: 100%;
    display: flex;
    z-index: 1;
}


$shadows-green-stripe: 45px 15px 75px rgba(86, 86, 86, .43) inset, 7px 20px 30px rgba(29, 29, 29, .62) inset;


@mixin shadows-green-stripe($params3) {
    -webkit-box-shadow: $params3;
    -moz-box-shadow: $params3;
    box-shadow: $params3;
  }

.color-stripe-1{
    @include shadows-green-stripe($shadows-green-stripe);
    height: 100px;
    width: 100%;
    margin: auto;
}

.color-stripe-2{
    @include shadows-green-stripe($shadows-green-stripe);
    height: 100px;
    width: 100%;
    margin: auto;
}

.details-container {
    .proj-info-wrapper{
        @include box-shadow($shadows);
    }
    .grid-container .col-10{
        .project-description-container{
            grid-column-start: 1;
            grid-column-end: 7;
        }
    }
    .project-text-wrapper{
        margin-top: 2rem;
        grid-column-end: 8;
    }
    img{
        object-fit: cover;
        width: 100%;
        height: auto;
        transition-duration: .4s;
        position: relative;
        overflow: hidden;
        vertical-align: top;
        max-height: 30rem;
    }
    h1{
        margin: 0;
        padding: 0;
    }
    p{
        margin-top: 0;
    }
    .details-wrapper{
        grid-column-start: 9;
        grid-column-end: 13;
        h3{
            margin-top: 0;
        }
        .sub-details-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}


@media only screen and (max-width: 80em){
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.1rem;
    }
    nav ul a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8rem;
        color: #8b8b8b;
        transition: 0.3s ease-in-out;
    }.intro-wrapper p {
        font-weight: 600;
    }.intro-wrapper h1 {
        margin-bottom: 0;
        font-size: 3.5rem;
    }
    .project-description {
        grid-column-end: 12;
        grid-row-start: 2;
        grid-column-start: 2;
    }
    .img-contain {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 1;
    }
}

// CSSTransition Group - Page Swipe animation
.line-wrap-1{
    overflow: hidden;
}

.line-wrap-2{
    overflow: hidden;
}
// //enter
// .page-enter{
//     opacity: 0;
// }


// //entering
// .page-enter-active{
//     opacity: 1;
//     transition: opacity 400ms;
//     transition-delay: 300ms;
// }

// //exit
// .page-exit{
//     opacity: 1;
// }

// //exiting
// .page-exit-active{
//     opacity: 0;
//     transition: opacity 400ms;
// }



/* simple - enter transition 300ms, exit 150ms */
// .fade-appear,
// .fade-enter {
//     opacity: 0;
//     z-index: 1;
// }
// .fade-appear-active,
// .fade-enter.fade-enter-active {
//     opacity: 1;
//     transition: opacity 300ms linear 150ms;
// }

// .fade-exit {
//     opacity: 1;
// }

// .fade-exit.fade-exit-active {
//     opacity: 0;
//     transition: opacity 150ms linear;
// }








// /* advanced - enter transition 800ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
    // transform: translateY(-10px);
}
.fade-appear p,
.fade-enter p {
//   transform: translateY(-5px);
  opacity: 0;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms linear 150ms, transform 300ms ease-out 150ms;
}
.fade-appear-active p,
.fade-enter.fade-enter-active p {
  transform: translateY(0);
  opacity: 1;
}
.fade-appear-active p:nth-child(2),
.fade-enter.fade-enter-active p:nth-child(2) {
  transition: opacity 300ms linear 300ms, transform 300ms ease-out 300ms;
}
.fade-appear-active p:nth-child(3),
.fade-enter.fade-enter-active p:nth-child(3) {
  transition: opacity 300ms linear 400ms, transform 300ms ease-out 400ms;
}
.fade-appear-active p:nth-child(4),
.fade-enter.fade-enter-active p:nth-child(4) {
  transition: opacity 300ms linear 500ms, transform 300ms ease-out 500ms;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit.fade-exit-active {
    opacity: 0;
    // transform: translateY(-10px);
    transition: opacity 150ms linear, transform 400ms ease-in;
}