// Imports
@import '../style/base/variables.scss';
@import '../style/base/mixins.scss';

// === Intro banner
.neumorphic-section{
    @include box-shadow($shadows);
    padding: 20vh 0 10vh 0;
}

.uppercase{
    text-transform: uppercase;
}

main{
    overflow-x: hidden;
}

.intro-wrapper{
    height: 80vh;
}


// === About section

.about-section {
    background: #fbfbfb;
    @include box-shadow($shadows);
    padding: 20vh 0;
    color: $black;
    p {
        font-weight: 400;
        width: 40%;
        color: #5a5a5a;
        
    }
    .personal-bio p {
        width: 100%;
    }
    .about-wrapper p {
        font-weight: 400;
        color: #5a5a5a;
    }
    .anchor-80-left{
        grid-column-start: 1;
        grid-column-end: 9;
        display: flex;
        justify-content: space-between;
    }
    .achievement-title{
        grid-column-start: 1;
        letter-spacing: 1px;
        strong{
            color: #000000;
            font-weight: 100;
            line-height: 2rem;
        }
    }
}

// === Project section

.project{
    .grid-container{
        padding: 2rem 0;
    }
}


.img-contain img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition-duration: .4s;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 1;
}

.img-contain-maintain-w img{
    object-fit: cover;
    width: 100%;
    height: auto;
    transition-duration: .4s;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 1;
}

.project-description{
    // color: $white;
    border-radius: .5rem;
    // @include shadows-description($shadows-description);
    padding: 3rem 0;
    // backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    background: none;
    z-index: 1;
    .sub-container{
        .title-wrapper{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 13;
        }
        .contribution-wrapper-r{
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 13;
            h3{
                margin-top: 1rem;
            }
        }
        .primary-btn, .disable-btn{
            grid-row-start: 3;
            grid-column-start: 1;
            grid-column-end: 13;
        }
    }
}


// Other projects
.otr-proj-sect{
    .title-wrapper{
        display: flex;
        margin-top: 2rem;
        justify-content: space-between;
        h3 {
            width: 100%;
            .underscore-cta{
                width: 70%;
            }
            a{
                width: max-content;
            }
        }
    }
    .sub-container{
        margin-top: 5vh;
    }
    .otr-proj-container{
        margin-bottom: 10vh;
        .otr-proj{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .otr-proj-1{
            grid-column-start: 1;
        }
        .sub-container{
            grid-gap: 4em;
        }
    }
}

.color-stripe-blue{
    background: $stripe-blue;
}
.color-stripe-green{
    background: $stripe-green;
}
.color-stripe-red{
    background: $stripe-red;
}

.color-stripe-container-1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100%;
    display: flex;
}

.color-stripe-container-2 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 13;
    height: 100%;
    display: flex;
    z-index: 1;
}

// home page color stripes
.color-stripe-1{
    @include shadows-green-stripe($shadows-green-stripe);
    height: 100px;
    width: 100%;
    margin: auto;
}

.color-stripe-2{
    @include shadows-green-stripe($shadows-green-stripe);
    height: 100px;
    width: 100%;
    margin: auto;
}



// CSSTransition Group - Page Swipe animation
.overflow-wrap{
    overflow: hidden;
}

