/* VENDOR - Default fall-backs and external files.
========================================================================== */

@import 'vendor/_normalize.scss';


/* BASE - Base Variable file along with starting point Mixins.
========================================================================== */

@import 'base/_variables.scss';
@import 'base/_mixins.scss';


/* FRAMEWORK - Structure and layout files.
========================================================================== */

@import 'framework/_grid.scss';
@import 'framework/_breakpoints.scss';


/* MODULES - Re-usable site elements.
========================================================================== */ 

@import 'modules/_scrollbar.scss';
@import 'modules/_buttons.scss';
@import 'modules/_footer.scss';
@import 'modules/_nav.scss';

/* FONTS
========================================================================== */ 

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

// Font sizes

h1, h2 {
  font-family: 'Lora', serif;
}

h1{
    font-size: $h1-font-sz;
}

h2{
    font-size: $h2-font-sz;
}

body{
    color: $sprite-text;
    background-color: $white;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative;
    z-index: 1;
}

.highlight-text{
    color: $accent;
}

.highlight-text-dark{
    color: $dark-accent;
}

// CSS Transition Group

// /* advanced - enter transition 800ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
    // transform: translateY(-10px);
}
.fade-appear p,
.fade-enter p {
//   transform: translateY(-5px);
  opacity: 0;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms linear 150ms, transform 300ms ease-out 150ms;
}
.fade-appear-active p,
.fade-enter.fade-enter-active p {
  transform: translateY(0);
  opacity: 1;
}
.fade-appear-active p:nth-child(2),
.fade-enter.fade-enter-active p:nth-child(2) {
  transition: opacity 300ms linear 300ms, transform 300ms ease-out 300ms;
}
.fade-appear-active p:nth-child(3),
.fade-enter.fade-enter-active p:nth-child(3) {
  transition: opacity 300ms linear 400ms, transform 300ms ease-out 400ms;
}
.fade-appear-active p:nth-child(4),
.fade-enter.fade-enter-active p:nth-child(4) {
  transition: opacity 300ms linear 500ms, transform 300ms ease-out 500ms;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit.fade-exit-active {
    opacity: 0;
    // transform: translateY(-10px);
    transition: opacity 150ms linear, transform 400ms ease-in;
}

.active{
  color: $white;
}