.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5em;
    width: 100%;
    margin: 0 auto;
    height: inherit;
    max-width: 1240px;
}

.sub-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5em;
    width: 100%;
    margin: 0 auto;
    height: inherit;
}

.color-block-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 100%;
}

.max-col{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: -1;
}

.col-10{
    grid-column-start: 2;
    grid-column-end: 12;
}

.footer-grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5em;
    width: 100%;
    margin: 0 auto;
    height: inherit;
    max-width: 1240px;
}


.nav-logo{
    height: inherit;
    grid-column-start: 2;
    grid-column-end: 6;
}

.nav-grid {
    grid-column-start: 8;
    grid-column-end: 12;
}

@media only screen and (min-width: 80em) {
    .grid-container, .footer-grid-container{
        max-width: 90vw;
    }

}