/* :root{
    --primary: #3acbf7;
} */
// Imports
@import '../../style/base/variables.scss';

.btn{
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1rem;
    color: $grey;
}

.btn:hover{
    transition: all 0.3s ease-out;
    transition: 250ms;
    color: $white;
}

.btn--primary{
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}
