/* :root{
    --primary: #3acbf7;
} */
// Imports
@import '../../style/base/variables.scss';

.btn{
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1rem;
    color: $sprite-text;
}

.btn:hover{
    transition: all 0.3s ease-out;
    transition: 250ms;
}

.btn--primary{
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.underscore-cta, .contactModal{
    cursor: pointer;
    a, .contactModal{
        color: $sprite-text;
        display: inline-block;
        position: relative;
    }
    a:after, .contactModal:after{
        transition: 0.25s ease-in-out;       
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #4d9735;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after, .contactModal:hover:after{
        width: 100%; 
        left: 0; 
      }
}