h1, h2 {
    font-family: 'Lora', serif;
  }
  
  h1{
      font-size: $h1-font-sz;
  }
  
  h2{
      font-size: $h2-font-sz;
  }

  .home-sub-heading{
      font-size: 4rem;
  }
  
  body{
      color: $sprite-text;
      background-color: $white;
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      position: relative;
      z-index: 1;
  }
  
  .highlight-text{
      color: $accent;
  }
  
  .highlight-text-dark{
      color: $dark-accent;
  }