@import '../base/variables.scss';
@import '../base/mixins.scss';

/* Project details pg 
========================================================================== */ 

// ProjectCard
.project-title{
    margin-bottom: 10vh;
}

.project-details-hero-container{
    .proj-info-wrapper .grid-container{
        row-gap: 20vh;
    }
}

.project-mobile-module{
    .portfolio-item{
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 12;
    }
}

.section-divider{
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: $grey;
    order: -1;
}

.underline-white{
    width: 90%;
    height: 3px;
    border-radius: 50px;
    background-color: $white;
    order: -1;
}

.underline{
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: $grey;
    order: -1;
}

.underline-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-headline-wrapper{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 12;
}

.project-description-mobile{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid black;
    margin-top: 50px;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 12;

}


.details-container {
    .grid-container{
        row-gap: $rel-margin;
    }
    .proj-info-wrapper{
        @include box-shadow($shadows);
    }
    .project-text-wrapper{
        grid-column-end: 8;
    }
    img{
        object-fit: cover;
        width: 100%;
        height: auto;
        transition-duration: .4s;
        position: relative;
        overflow: hidden;
        vertical-align: top;
        height: 100%;
    }
    .details-wrapper{
        h3{
            margin-top: 0;
        }
    }
    .primary-btn, .disable-btn{
        grid-column-start: 8;
        grid-column-end: 13;
    }
}

.center-module{
    flex-direction: column;
    display: flex;

    img{
        // width: 100px;
        // height: 100px;
        margin: 0 2rem 2rem 0;
    }
    .profile-img-contain{
        display: flex;
        flex-wrap: wrap;
    }
}

.design-sect-1 .sub-container .span-50 > div{
    margin-bottom: 0;
}

.end-col-text{
    grid-column-end: -1;
    text-align: right;
}

.anchor-80-left{
    grid-column-start: 1;
    grid-column-end: 9;
}


.span-50r-3p1{
    grid-column-start: 7;
    grid-column-end: span 3;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

.flex-container > * {
    margin: auto;
}

.neu-container{
    @include box-shadow($shadows);
    padding: 4rem 0;
}

.flex-25{
    width: 25%;
}

.sect-helper{
    background-color: $black;
    padding-bottom: $sect-spacer;
    color: $white;
}

.img-fit img{
    object-fit: contain;
    width: 100%;
    transition-duration: .4s;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 1;
}

.bosstepHighlightPrimary{
    color: $bosstep-primary-color;
}

.bosstepHighlightSecondary{
    color: $bosstep-secondary-color;
}

.citation{
    text-align: center;
    letter-spacing: $citation-spacing;
    color: $grey;
    margin-top: $rel-margin;
}

.gcs-8-5 h2{
    margin-bottom: $rel-margin;
}


.hero-banner-mobile{    
    height: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

// Bosstep
.hero-banner-mobile-bosstep{    
    background-image: url("../../images/bosstep/mobile-banner-bosstep.png");
}

// CLIQ
.hero-banner-mobile-cliq{    
    // background-color: #1b791b;
}

.cliq-mobile-container{
    // .text-wrapper{
    //     color: $white;
    // }
    // a{
    //     color: $white;
    // }
}

// Track
.hero-banner-mobile-track{    
    background-color: blue;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}


/* Centered text */
.centered {    
    text-align: center;
}

.test2{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 25vh;
}

.mobileBannerContainer{
    position: relative;
}

.project-details-hero-mobile{
    .text-wrapper{
        grid-row-start: 1;
        margin-top: 17vh;
        display: flex;
        flex-direction: column;
    }
    .mobileBannerBG{
        grid-row-start: 1;
    }
}

.hero-banner-mobile{
    height: 100%;
}

.mobileBannerBG{
    grid-column-start: 1;
    grid-column-end: -1;
}

.sect-helper-max-col{
    grid-column-start: 1;
    grid-column-end: -1;
}

.project-details-center-section .center-module > * {
    margin-bottom: $rel-margin;
}

.span-bleed-right{
    width: 100%;
    grid-column: 8 / 13;
}

.span-bleed-right-container{
    width: 100%;
    grid-column: 6 / 12;
}


.span-bleed-right-container-hr{
    width: 100%;
    grid-column: 8 / 12;
}

