
@import '../base/variables.scss';
@import '../base/mixins.scss';

/* Project details pg 
========================================================================== */ 

.rel-margin-bot{
    margin-bottom: $rel-margin-bot;
}

.sect-1{
    padding-top: $sect-spacer;
}

.sect-last{
    margin-bottom: $sect-spacer;
}


.details-container {
    .grid-container{
        row-gap: $sect-spacer;
    }
    .proj-info-wrapper{
        @include box-shadow($shadows);
    }
    .project-description-wrapper{
        grid-row-start: 1;
        grid-column-start: 8;
        grid-column-end: 13;
    }
    .project-title-wrapper{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 6;

        h1{
            margin-top: -2rem;
        }
    }
    .project-text-wrapper{
        grid-column-end: 8;
    }
    img{
        object-fit: cover;
        width: 100%;
        height: auto;
        transition-duration: .4s;
        position: relative;
        overflow: hidden;
        vertical-align: top;
        height: 100%;
    }
    .details-wrapper{
        grid-column-start: 1;
        grid-column-end: 6;
        h3{
            margin-top: 0;
        }
    }
    .primary-btn{
        grid-column-start: 8;
        grid-column-end: 13;
    }
}

.paragraph-anchor-left{
    grid-column-start: 1;
    grid-column-end: 8;
}
.h2-anchor-right{
    grid-column-start: 9;
    grid-column-end: -1;
}

.h2-anchor-left{
    grid-column-start: 1;
    grid-column-end: 6;
}

.span-2{
    grid-column: span 2;
}

.span-3{
    grid-column: span 3;
}

.span-4{
    grid-column-start: span 4;
}

.span-6{
    grid-column-start: span 6;
}

.center-module{
    grid-column-start: 5;
    grid-column-end: 9;
    flex-direction: column;
    display: flex;

    img{
        width: 100px;
        height: 100px;
        margin: 0 2rem 2rem 0;
    }
    .profile-img-contain{
        display: flex;
    }
}

.design-sect-1 .sub-container .span-50 > div{
    margin-bottom: 0;
}

.anchor-80-right{
    grid-column-start: 4;
    grid-column-end: -1;
}

.anchor-80-left{
    grid-column-start: 1;
    grid-column-end: 9;
}

.gcs-9-4{
    grid-column-start: 9;
    grid-column-end: span 4;
}