@import '../base/variables.scss';
@import '../base/mixins.scss';

/* Project details pg 
========================================================================== */ 

.rel-margin-bot{
    margin-bottom: $rel-margin-bot;
}

.sect-1{
    padding-top: $sect-spacer;
}

.sect-last{
    margin-bottom: $sect-spacer;
}


.details-container {
    .grid-container{
        row-gap: $rel-margin;
    }
    .proj-info-wrapper{
        @include box-shadow($shadows);
        // padding: $sect-spacer 0;
    }
    .project-text-wrapper{
        grid-column-end: 8;
    }
    img{
        object-fit: cover;
        width: 100%;
        height: auto;
        transition-duration: .4s;
        position: relative;
        overflow: hidden;
        vertical-align: top;
        height: 100%;
    }
    .details-wrapper{
        h3{
            margin-top: 0;
        }
    }
    .primary-btn, .disable-btn{
        grid-column-start: 8;
        grid-column-end: 13;
    }
}
.span-3{
    grid-column: span 3;
}

.center-module{
    flex-direction: column;
    display: flex;

    img{
        // width: 100px;
        // height: 100px;
        margin: 0 2rem 2rem 0;
    }
    .profile-img-contain{
        display: flex;
        flex-wrap: wrap;
    }
}

.design-sect-1 .sub-container .span-50 > div{
    margin-bottom: 0;
}

.end-col-text{
    grid-column-end: -1;
    text-align: right;
}

.anchor-80-left{
    grid-column-start: 1;
    grid-column-end: 9;
}


.span-50r-3p1{
    grid-column-start: 7;
    grid-column-end: span 3;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

.flex-container > * {
    margin: auto;
}

.neu-container{
    @include box-shadow($shadows);
    padding: 4rem 0;
}

.flex-25{
    width: 25%;
}

.sect-helper{
    background-color: $black;
    padding-bottom: $sect-spacer;
    color: $white;
}

.img-fit img{
    object-fit: contain;
    width: 100%;
    transition-duration: .4s;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 1;
}

.bosstepHighlightPrimary{
    color: $bosstep-primary-color;
}

.bosstepHighlightSecondary{
    color: $bosstep-secondary-color;
}

.citation{
    text-align: center;
    letter-spacing: $citation-spacing;
    color: $grey;
    font-family: 'Lora', serif;
    margin-top: $rel-margin;
}

.gcs-8-5 h2{
    margin-bottom: $rel-margin;
}


.hero-banner-mobile{    
    height: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

// Bosstep
.hero-banner-mobile-bosstep{    
    background-image: url("../../images/bosstep/mobile-banner-bosstep.png");
}

// CLIQ
.hero-banner-mobile-cliq{    
    // background-color: #1b791b;
}

.cliq-mobile-container{
    // .text-wrapper{
    //     color: $white;
    // }
    // a{
    //     color: $white;
    // }
}

// Track
.hero-banner-mobile-track{    
    background-color: blue;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}


/* Centered text */
.centered {    
    text-align: center;
}

.test2{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 25vh;
}

.mobileBannerContainer{
    position: relative;
}

.project-details-hero-mobile{
    .text-wrapper{
        grid-row-start: 1;
        margin-top: 17vh;
        display: flex;
        flex-direction: column;
    }
    .mobileBannerBG{
        grid-row-start: 1;
    }
}

.hero-banner-mobile{
    height: 100%;
}

.mobileBannerBG{
    grid-column-start: 1;
    grid-column-end: -1;
}

.sect-helper-max-col{
    grid-column-start: 1;
    grid-column-end: -1;
}

.project-details-center-section .center-module > * {
    margin-bottom: $rel-margin;
}

.span-bleed-right{
    width: 100%;
    grid-column: 8 / 13;
}

.span-bleed-right-container{
    width: 100%;
    grid-column: 6 / 12;
}


.span-bleed-right-container-hr{
    width: 100%;
    grid-column: 8 / 12;
}


.project-cheer span{
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 60s linear infinite;
    font-size: 8rem;
    will-change: transform; 
    /* animation-direction: normal; */
}
.project-cheer{
    box-shadow: inset 5px 5px 10px #a4a4a4, inset -5px -5px 10px #E3E2E67A;
    grid-column-start: 1;
    grid-column-end: -1;
    white-space: nowrap;
    overflow: hidden;
    width: 100vw;
    margin: 20vh 0;
    color: #0f110c;
    -webkit-text-fill-color: #0f110c;
}
@keyframes marquee{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}