
// buttons

.primary-btn{
    letter-spacing: 6px;
    transition: 0.6s ease-out;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    border: 2px solid $white;
    height: fit-content;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    width: fit-content;
    position: relative;
    font-weight: 600;
    &:hover{
        color: $black;
        cursor: crosshair;
    }
    &:before{
        background: #fff;
        content: "";
        position: absolute;
        cursor: crosshair;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: top 0.6s ease-out;
    }
    &:hover:before{
        top: 0;
    }
}

.white-border-btn{
    border: 2px solid $white;
}

.black-border-btn{
    border: 2px solid $black;
}


a{
    text-decoration: none;
    color: $grey;
    transition: 0.3s ease-in-out;
    &:active{
        color: $white;
    }
    &:hover{
        color: $white;
    }
}