// Footer

footer{
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    p{
        margin-top: 0;
        margin-bottom: .5rem;
        color: $sprite-text;
    }
}

.neu-footer{
    box-shadow: 45px 15px 75px rgb(222 222 222 / 67%) inset, 7px 20px 30px rgb(35 34 36 / 62%) inset;
    padding: 10vh 0;
    z-index: 1;
}
