// Footer

footer{
    padding: 2.5rem 0 2.5rem 0;
    background:$black;
    color: $white;
    display: flex;
    flex-direction: column;
    p{
        margin-top: 0;
        margin-bottom: .5rem;
    }
    .copyright{
        font-size: 1rem;
        color: #898989;
    }
}
