@import '../base/variables.scss';


.desktop-nav-container{
    justify-content: center;
    display: flex;
    width: 100%;
    position: fixed;
    background-color: $black;
    height: $nav-height;
    z-index: 10;
}

.vertical-desktop-nav-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    position: fixed;
    left: 0px;
    top: 0px;
    width: calc(100%/6 - 1.5rem);
    height: 75%;
    flex-direction: column;
    justify-content: space-around;
}

.NavbarItems{
    background-color: $black;
    height: $nav-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 1.2rem;
}

.fa-react{
    margin-left: .5rem;
    font-style: 1.6rem;
}

.fa-bars{
    color: $white;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

nav{
    width: 100%;
    height: auto;
    ul{
        list-style-type: none;
        padding: 0;
        flex-wrap: wrap;
        text-align: right;
        a{

            text-decoration: none;
            text-transform: uppercase;
            font-size: $link-button-sz;
            color: $grey;
            transition: 0.3s ease-in-out;
            font-size:1.2rem;
            margin-top: 1rem;
            &:hover{
                cursor: pointer;
            }
        }
        li {
            &:first-child{
                a{
                    margin-top: 0;
                }
            }
        }
    }
}

ul {
    margin-left: 0;
    padding-left: 0;
    li {
        text-decoration: none;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    } 
}

#nav-logo{
    display: flex;
    width:fit-content;
    font-weight: 700;
    font-size: $link-button-sz;
    a{
        font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        &:hover{
            color: $sprite-text;
        }
    }
}


@media screen and (max-width: 960px){

    .fa-times{
        color: $white;
    }

}