@import '../base/variables.scss';

.desktop-nav-container{
    justify-content: center;
    display: flex;
    position: fixed;
    background-color: $black;
    height: $nav-height;
    z-index: 10;
}

.vertical-desktop-nav-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    left: 0px;
    height: 100%;
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column;
    position: absolute;
}

.desktop-nav{
    z-index: 10;
    position: fixed;
}

.nav-grid-template{
    grid-template-rows: 40vh 30vh 10vh;
    grid-gap: $grid-gap
}

.NavbarItems{
    background-color: $black;
    height: $nav-height;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-react{
    margin-left: .5rem;
    font-style: 1.6rem;
}

.fa-bars{
    color: $white;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

nav{
    width: calc(100%/6 - 1.2rem);
    height: auto;
    ul{
        list-style-type: none;
        padding: 0;
        flex-wrap: wrap;
        text-align: right;
        a{

            text-decoration: none;
            text-transform: uppercase;
            color: $grey;
            transition: 0.3s ease-in-out;
            margin-top: 1rem;
            &:hover{
                cursor: pointer;
            }
        }
        li {
            &:first-child{
                a{
                    margin-top: 0;
                }
            }
        }
    }
}

ul {
    margin-left: 0;
    padding-left: 0;
    li {
        text-decoration: none;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    } 
}



#nav-logo{
    display: flex;
    text-align: right;
    font-weight: 700;
    a{
        width: 100%;
        margin-bottom: 1rem;
        font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        &:hover{
            color: $sprite-text;
        }
    }
}

.mobile-nav{
    width: 100%;
    z-index: 20;
    position: fixed;
    height: $nav-height;
    justify-content: center;
    align-items: center;
    font-style: 1.2rem;
    .nav-menu {
        >*:first-child{
            margin-top: 15vh;
        }
    }
    .contactModal{
        text-align: center;
        margin-top: 0;
        margin-left: 0;
    }
    .nav-logo{
        height: $nav-height;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: 1.2rem;
        grid-column-start: 10;
        grid-column-end: 12;
        justify-self: end;
        z-index: 25;
    }

    .fa-react{
        margin-left: .5rem;
        font-style: 1.6rem;
    }


    // ! Move to breakpoints
    .nav-menu{
        
        height: 100vh;
        display: flex;
        justify-content: space-around;

        grid-column-start: 6;
        li:last-child{
            a {
                padding-right: 0;
                margin-right: 0;
            }
        }
    }

    .fa-bars{
        color: $black;
    }
    

    ul {
        margin-left: 0;
        padding-left: 0;
        li {
            text-decoration: none;
            list-style: none;
            margin-left: 0;
            padding-left: 0;
        } 
    }

    .nav-logo{
        display: flex;
        width:fit-content;
        font-weight: 700;
        font-size: $sm-font-sz;
        a{
            margin: auto;
            font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        }
    }
}




@media screen and (max-width: 1000px){
    .NavbarItems {
        position: relative;
    }
    .nav-menu{
        display: flex;
        justify-content: end;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    
    .nav-menu.active{
        background: $black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        height: 100vh;
    }

    .nav-links{
        text-align: center;
        width: 100%;
        display: table;
    }

    .menu-icon{
        z-index: 25;
        display: block;
        cursor: pointer;
        grid-column-end: 4;
        grid-column-start: 2;
        margin: auto;
        grid-row-start: 1;
        margin-left: 0;
    }

    .fa-times{
        color: $white;
    }

}