@import '../base/variables.scss';


.desktop-nav-container{
    justify-content: center;
    display: flex;
    position: fixed;
    background-color: $black;
    height: $nav-height;
    z-index: 10;
}

.vertical-desktop-nav-container{
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-end; */
    /* position: fixed; */
    width: 100%;
    left: 0px;
    height: 100%;
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column-reverse;
    position: absolute;
}

.desktop-nav{
    z-index: 10;
    position: fixed;
}

.nav-grid-template{
    grid-template-rows: 20vh 40vh 40vh;
}

.NavbarItems{
    background-color: $black;
    height: $nav-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 1.2rem;
}

.fa-react{
    margin-left: .5rem;
    font-style: 1.6rem;
}

.fa-bars{
    color: $white;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

nav{
    width: calc(100%/6 - 1.2rem);
    height: auto;
    ul{
        list-style-type: none;
        padding: 0;
        flex-wrap: wrap;
        text-align: right;
        a{

            text-decoration: none;
            text-transform: uppercase;
            font-size: $link-button-sz;
            color: $grey;
            transition: 0.3s ease-in-out;
            font-size:$link-button-sz;
            margin-top: 1rem;
            &:hover{
                cursor: pointer;
            }
        }
        li {
            &:first-child{
                a{
                    margin-top: 0;
                }
            }
        }
    }
}

ul {
    margin-left: 0;
    padding-left: 0;
    li {
        text-decoration: none;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    } 
}

#nav-logo{
    display: flex;
    text-align: right;
    font-weight: 700;
    font-size: $link-button-sz;
    a{
        width: 100%;
        margin-bottom: 1rem;
        font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        &:hover{
            color: $sprite-text;
        }
    }
}


@media screen and (max-width: 960px){

    .fa-times{
        color: $white;
    }

}