// scroll-bar

::-webkit-scrollbar{
    background: $white; 
}

::-webkit-scrollbar-thumb {
  background: $grey; 
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}