// Imports
@import '../base/variables.scss';

// Media Queries

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    .max-col-proj-details{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .color-stripe-container-2{
        display:none;
    }
    .subheading{
        margin-bottom: 2rem;
    }
    .about-row-1-col-1{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 12;
    }
    .about-row-1-col-2{
        grid-row-start: 2;
        grid-column-start: 3;
        grid-column-end: 11;
    }
    .about-row-1-col-3{
        grid-row-start: 3;
        grid-column-start: 3;
        grid-column-end: 11;
    }
    .about-row-2-col-2{
        grid-row-start: 4;
        grid-column-start: 3;
        grid-column-end: 11;
    }
    .grid-container{
        width: $max-width;
    }
    .footer-grid-container{
        width: $max-width;
    }
    .proj-info-wrapper .grid-container{
        padding: 20vh 0;
        .project-description-container {
            p {
                margin-bottom: 2rem;
            } 
        }
        .sub-details-wrapper{
            margin-bottom: 3rem;
        }
    }
    
    .project{
        margin-bottom: $sect-spacer;
    }

    .project-1{
        margin-top: 10vh;
    }

    .intro-wrapper{
        h1{      
            font-size: 4rem;
        }
    }

    .project-description {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .proj-home-grid-def {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 13;
    }


    // Other project section - homepage
    .otr-proj-spec-wrapper{
        margin-bottom: 4rem;
    }
    .otr-proj-1{
        grid-row-start:1;
        grid-column-start: 1;
        grid-column-end: -1;
    }.otr-proj-2{
        grid-row-start:2;
        grid-column-start: 1;
        grid-column-end: -1;
    }.otr-proj-3{
        grid-row-start:3;
        grid-column-start: 1;
        grid-column-end: -1;
        margin-bottom: 0;
    }  
    

    // footer - all pages 
    footer{
        .footer-email-wrapper{
            grid-row-start: 1;
            grid-column-start: 2;
            grid-column-end: 6;
        }
        .footer-frequent-links-wrapper{
            grid-row-start: 2;
            grid-column-start: 2;
            grid-column-end: 12;
        }
        .footer-social-media-wrapper{
            margin-top: 0;
            grid-row-start: 1;
            grid-column-start: 7;
            grid-column-end: 12;
            img:first-child{
                margin-right: 1rem;
            }
        }
        .footer-copyright{
            grid-row-start: 3;
            grid-column-start: 2;
            grid-column-end: 12;
        }
        .footer-cell{
            margin-top: 0;
        }
    }
}

/* Larger than phablet */
@media (min-width: 550px) {

    //Intro - homepage
    .intro-wrapper{
        h1{      
            font-size: 4rem;
        }
    }
    .project-description {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 2;
    }
    .proj-home-grid-def {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 13;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .color-stripe-container-2{
        margin-right: -3rem;
        display: grid;
    }

    // footer - all pages
    footer{
        min-height: 15rem;
        height: 15rem;
        .footer-email-wrapper{
            grid-row-start: 1;
            grid-column: span 3;
        }
        .footer-frequent-links-wrapper{
            grid-row-start: 1;
            grid-column: span 3;
        }
        .footer-social-media-wrapper{
            grid-row-start: 1;
            grid-column: span 3;
            img:first-child{
                margin-right: 1rem;
            }
        }
        .footer-cell{
            height: 12rem;
        }
        .footer-copyright{
            grid-row-start: 1;
            grid-column: span 3;
        }
        .footer-grid-container > div {
            margin: auto 0;
        }
    }

    // Other project section - homepage
    .otr-proj-1{
        grid-row-start:1;
        grid-column-start: 1;
    }.otr-proj-2{
        grid-row-start:1;
        grid-column-start: 5;
    }.otr-proj-3{
        grid-row-start:1;
        grid-column-start: 9;
    }
    .otr-proj-sect{
        .sub-container{
            gap: 2em;
        }
    }
    .otr-proj-spec-wrapper{
        grid-column-end: span 4;
    }
    .intro-wrapper{
        h1{      
            font-size: 6rem;
        }
    }
        
    .project-description{
        grid-column-end: 13;
        grid-row-start: 1;
        grid-column-start: 7;
    }

    .proj-home-grid-def{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
    }

    
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .max-col-proj-details{
        grid-column-start: 5;
        grid-column-end: -1;
    }
    .project{
        margin-bottom: $sect-spacer;
    }

    .project-1{
        margin-top: 20vh;
    }

    .intro-wrapper{
        h1{      
            font-size: 6.5rem;
        }
    }


    // Color stripe - homepage
    .color-stripe-container-1{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 100%;
        display: flex;
    }
    .color-stripe-container-2 {
        grid-row-start: 1;
        grid-column-start: 6;
        grid-column-end: 13;
        height: 100%;
        display: flex;
        z-index: 1;
    }


    .project{
        .grid-container{
            padding: 2rem 3rem;
        }
    }

    .grid-container, .footer-grid-container{
        max-width: 75vw;
    }
}