// Imports
@import '../base/variables.scss';

// Media Queries


/* Mobile first queries */
/* Larger than mobile */
@media (min-width: 300px){

    .project-details-hero-mobile{
        .text-wrapper{
            grid-row-start: 1;
            grid-column-start: 2;
            grid-column-end: 12;
            margin-top: 17vh;
            display: flex;
            flex-direction: column;
            .title-wrapper{
                text-align: center;
            }
        }
        .mobileBannerBG{
            grid-row-start: 1;
        }
    }
    .sub-container{
        gap: 0.5em;
    }
    .project-description {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2;
    }
    .proj-home-grid-def {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 12;
    }
    // !important
    .project-details-hero-desktop{
        display: none;
    }
    .project-details-hero-mobile{
        display: block;
    }
    .text-banner-desktop{
        display: none;
    }
    .nav-menu{
        grid-column-end: 12;
    }
    .primary-btn{
        padding: .55rem 1rem;
        font-size: .8rem;
    }
    .menu-icon{
        grid-column-end: 12;
    }
    .nav-logo{
        grid-column-start: 2;
    }
    .btn-span{
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .max-col{
        grid-column-start: 2;
        grid-column-end: 12;
    }

    // home.js
    .about-section{
        h2{
            // grid-column: span 13;
            grid-column-start: 2;
            grid-column-end: 12;
        }
    }
    .anchor-80-right{
        grid-column-start: 2;
        grid-column-end: 12;
    }

    .span-2{
        // grid-column: span 13;
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .span-4{
        grid-column-start: span 13;
    }

    .span-5{
        grid-column-start: span 13;
    }

    .span-6{
        grid-column-start: span 13;
    }
    .h2-anchor-right{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .paragraph-anchor-left{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    // Bosstep.js
    .bosstep-page{
        .span-50{
            grid-column-start: 1;
            grid-column-end: 13;
            
        }
        .span-5{
            grid-column-start: span 13;
        }
        .gcs-8-5{
            grid-column-start: 1;
            grid-column-end: 13;
        }
        .bosstep-wireframe-section{
            .span-3{
                grid-column: span 3;
            }
        }
        // Protoview
        .bosstep-protoview-section{
            .span-3{
                grid-column: span 6;
            }
            .protoview-1{
                .img-fit{
                    grid-row-start: 2;
                }
                .gcs-8-5{
                    grid-row-start: 1;
                }
            }
            .protoview-2{
                .img-fit{
                    grid-row-start: 2;
                }
                .span-50r-3p1 {
                    grid-column-start: 7;
                    grid-column-end: span 6;
                }
                
            }
        }
        // Sketch
        .bosstep-sketch-section{
            .span-50{
                grid-column-start: 1;
                grid-column-end: 13;
                margin-bottom: $sect-spacer;
                grid-row-start: inherit;
            }
            .gcs-8-5{
                grid-row-start: inherit;
                grid-column-start: 1;
                grid-column-end: 13;
            }
        }


        // Persona
        .bosstep-persona-section{
            .gcs-9-4 {
                grid-column-start: 1;
                grid-column-end: 13;
            }
            .span-5{
                grid-column-start: span 13;
            }
        }
    }


    // End of Bosstep.js
    .sect-helper-graphic{
        .anchor-right-sect-helper{
            grid-column-start: 5;
            grid-column-end: span 8;
        }
        
    }
    .sect-helper-text{
        .span-3{
            grid-column-start: 1;
            grid-column-end: 13;
        }
        h2.span-2{
            grid-column-start: 1;
            grid-column-end: 13;
        }
        .anchor-right-sect-helper {
            grid-column-start: 2;
            grid-column-start: 1;
            grid-column-end: 13;
        }
        .end-col-text {
            grid-row-start: 3;
            grid-column-end: 13;
            text-align: right;
        }

    } 
    .project-details-h1{
        font-size: 5rem;
        letter-spacing: 5px;
        margin-top: $rel-margin;
    }
    p{
        font-size: $mobile-paragraph-sz;
        line-height: $mobile-line-height;
    }
    .max-col-proj-details{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .color-stripe-container-2{
        display:none;
    }
    .subheading{
        margin-bottom: 2rem;
    }
    // .footer-grid-container{
    //     width: $max-width;
    // }
    .proj-info-wrapper {
        grid-column-start: 1;
        grid-column-end: -1;
        .grid-container{
            padding: $sect-spacer 0;
            .project-description-container {
                p {
                    margin-bottom: 2rem;
                } 
            }
            .sub-details-wrapper{
                margin-bottom: 3rem;
            }
        }
    }
    
    .project{
        margin-bottom: $sect-spacer;
    }

    .project-1{
        margin-top: 10vh;
    }

    .intro-wrapper{
        h1{      
            font-size: 4rem;
        }
    }


    // Other project section - homepage
    .otr-proj-spec-wrapper{
        margin-bottom: 4rem;
    }
    .otr-proj-1{
        grid-row-start:1;
        grid-column-start: 1;
        grid-column-end: -1;
    }.otr-proj-2{
        grid-row-start:2;
        grid-column-start: 1;
        grid-column-end: -1;
    }.otr-proj-3{
        grid-row-start:3;
        grid-column-start: 1;
        grid-column-end: -1;
        margin-bottom: 0;
    }  
    

    // footer - all pages 
    footer{
        .footer-email-wrapper{
            grid-row-start: 1;
            grid-column-start: 2;
            grid-column-end: 6;
        }
        .footer-frequent-links-wrapper{
            grid-row-start: 2;
            grid-column-start: 2;
            grid-column-end: 12;
        }
        .footer-social-media-wrapper{
            margin-top: 0;
            grid-row-start: 3;
            grid-column-start: 2;
            grid-column-end: 12;
            img:first-child{
                margin-right: 1rem;
            }
        }
        .footer-copyright{
            grid-row-start: 4;
            grid-column-start: 2;
            grid-column-end: 12;
        }
        .footer-cell{
            margin-top: 0;
        }
    }
}

/* Larger than phablet */
@media (min-width: 550px) {

    .project-details-hero-mobile{
        .text-wrapper{
            grid-row-start: 1;
            grid-column-start: 3;
            grid-column-end: 11;
            margin-top: 17vh;
            display: flex;
            flex-direction: column;
            .title-wrapper{
                text-align: center;
            }
        }
        .mobileBannerBG{
            grid-row-start: 1;
        }
    }
    .grid-container{
        width: 80vw;
    }

    //Intro - homepage
    .intro-wrapper{
        h1{      
            font-size: 4rem;
        }
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    nav ul a {
        margin: 0 1rem;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .nav-menu{    
        grid-column-end: 13;
    }
    .max-col{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .primary-btn{
        padding: 12px 48px;
        font-size: .9rem;
    }
    .nav-logo{
        grid-column-start: 1;
    }
    .about-section{
        h2{
            grid-column: span 3;
        }
    }
    .anchor-80-right{
        grid-column-start: 4;
        grid-column-end: -1;
    }
    .paragraph-anchor-left{
        grid-column-start: 1;
        grid-column-end: 8;
    }
    .h2-anchor-right{
        grid-column-start: 9;
        grid-column-end: -1;
    }
    .h2-anchor-left{
        grid-column-start: 1;
        grid-column-end: 6;
    }

    // Alternation Mobile & Desktop
    .project-details-hero-desktop{
        display: block;
    }
    .project-details-hero-mobile{
        display: none;
    }
    .text-banner-mobile{
        display: none;
    }
    .text-banner-desktop{
        display: block;
    }


    .sect-helper-graphic{
        .anchor-right-sect-helper{
            grid-column-start: 5;
            grid-column-end: -1;
            .span-3{
                grid-column: span 3;
            }
        }
        
    }
    .sect-helper-text{
        .span-3{
            grid-column-start: 1;
            grid-column-end: 13;
        }
        h2.span-2{
            grid-column-start: 1;
            grid-column: span 3;
        }
        .anchor-right-sect-helper{
            grid-column-start: 5;
            grid-column-end: -1;
        }
        .end-col-text {
            grid-row-start: 3;
            grid-column-end: 13;
            text-align: right;
        }

    } 
    .span-2{
        grid-column: span 2;
    }

    .span-3{
        grid-column: span 3;
    }

    .span-4{
        grid-column-start: span 4;
    }

    .span-5{
        grid-column-start: span 5;
    }

    .span-6{
        grid-column-start: span 6;
    }

    // Bosstep.js
    .bosstep-page{
        .gcs-8-5 {
            grid-column-start: 8;
            grid-column-end: span 5;
        }
        .span-5{
            grid-column: span 5;
        }
        .span-50{
            grid-column: span 6;
        }
        // wireframe section
        .bosstep-wireframe-section{
            .span-3{
                grid-column: span 3;
            }
        }
        // Minigame sketch lrg
        .bosstep-minigame-sketch-section{
            .span-50{
                grid-column: span 6;
            }
        }
        // Protoview
        .bosstep-protoview-section{
            .span-3{
                grid-column: span 3;
            }
            .protoview-1{
                .img-fit{
                    grid-row-start: 1;
                }
                .gcs-8-5{
                    grid-column-start: 8;
                    grid-column-end: span 5;
                    grid-row-start: 1;
                }
            }
            .protoview-2{
                .img-fit{
                    grid-row-start: inherit;
                }
                .span-50r-3p1 {
                    grid-column-start: 7;
                    grid-column-end: span 3;
                }
                
            }
        }
        // Sketch
        .bosstep-sketch-section{
            .span-50{
                grid-column: span 6;
                margin-bottom: $sect-spacer;
            }
            .gcs-8-5{
                grid-column-start: 8;
                grid-column-end: span 5;
            }
        }


        // Persona
        .bosstep-persona-section{
            .gcs-9-4{
                grid-column-start: 9;
                grid-column-end: span 4;
            }
            .span-5{
                grid-column-start: span 5;
            }
        }
    }
    
    .span-50{
        grid-column: span 6;
    }
    p{
        font-size: $p-font-sz;
        line-height: $para-line-height;
        letter-spacing: $para-text-space;
    }
    .max-col-proj-details{
        grid-column-start: $max-col-r-heavy;
        grid-column-end: -1;
    }
    .color-stripe-container-2{
        display: grid;
    }

    // footer - all pages
    footer{
        min-height: 15rem;
        height: 15rem;
        .footer-email-wrapper{
            grid-row-start: 1;
            grid-column: span 3;
        }
        .footer-frequent-links-wrapper{
            grid-row-start: 1;
            grid-column: span 3;
        }
        .footer-social-media-wrapper{
            grid-row-start: 1;
            grid-column: span 3;
            img:first-child{
                margin-right: 1rem;
            }
        }
        .footer-cell{
            height: 12rem;
        }
        .footer-copyright{
            grid-row-start: 1;
            grid-column: span 3;
        }
        // .footer-grid-container > div {
        //     margin: auto 0;
        // }
    }

    // Other project section - homepage
    .otr-proj-1{
        grid-row-start:1;
        grid-column-start: 1;
    }.otr-proj-2{
        grid-row-start:1;
        grid-column-start: 5;
    }.otr-proj-3{
        grid-row-start:1;
        grid-column-start: 9;
    }
    .otr-proj-sect{
        .sub-container{
            gap: 2em;
        }
    }
    .otr-proj-spec-wrapper{
        grid-column-end: span 4;
    }
    .intro-wrapper{
        h1{      
            font-size: 6rem;
        }
    }
        
    .project-description{
        grid-column-end: 13;
        grid-row-start: 1;
        grid-column-start: 7;
    }

    .proj-home-grid-def{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
    }

    
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .project{
        margin-bottom: $sect-spacer;
    }

    .project-1{
        margin-top: 20vh;
    }

    .intro-wrapper{
        h1{      
            font-size: 6.5rem;
        }
    }


    // Color stripe - homepage
    .color-stripe-container-1{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 100%;
        display: flex;
    }
    .color-stripe-container-2 {
        grid-row-start: 1;
        grid-column-start: 6;
        grid-column-end: 13;
        height: 100%;
        display: flex;
        z-index: 1;
    }


    .project{
        .grid-container{
            padding: 2rem 3rem;
        }
    }

    .grid-container, .footer-grid-container{
        max-width: 75vw;
    }
}

