// Imports
@import '../base/variables.scss';

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .neu-shadow{
        @include shadows-project($shadows-project);
    }
    .project{
        .blue-tab{
            background: #262935;
        }
        .red-tab{
            background: #352633;
        }
        .green-tab{
            background: #263527;
        }
        .max-col{
            display: flex;
        }
    }
    .anch-80{
        // !Rename, span-50 is not implied here
        .span-50{
            grid-column-start: 1;
            grid-column-end: 8;
        }
        .gcs-9-4{
            grid-column-start: 9;
            grid-column-end: 13;
        }
    }
    .max-col-proj-details{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .details-container {
        .project-description-wrapper{
            grid-row-start: 1;
            grid-column-start: 8;
            grid-column-end: 12;
        }
        .details-wrapper{
            grid-column-start: 4;
            grid-column-end: 12;
            display: flex;
            justify-content: space-between;
        }
        .project-title-wrapper {
            grid-row-start: 1;
            grid-column-start: 4;
            grid-column-end: 8;
        }

    }
    .project-description{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
    }

    .proj-home-grid-def{
        grid-column-end: 13;
        grid-row-start: 1;
        grid-column-start: 7;
    }
    .max-col{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .primary-btn, .disable-btn{
        padding: 12px 48px;
    }
    .about-section{
        h2{
            grid-column: span 3;
        }
    }
    .anchor-80-right{
        grid-column-start: 4;
        grid-column-end: -1;
    }
    .paragraph-anchor-left{
        grid-column-start: 1;
        grid-column-end: 8;
    }
    .h2-anchor-right{
        grid-column-start: 9;
        grid-column-end: -1;
    }
    .h2-anchor-left{
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .project{
        margin-bottom: $sect-spacer;
    }

    .project-1{
        margin-top: 20vh;
    }


    // Color stripe - homepage
    .color-stripe-container-1{
        grid-row-start: 1;
        grid-column-start: 13;
        grid-column-end: 8;
        height: 100%;
        display: flex;
    }
    .color-stripe-container-2 {
        grid-row-start: 1;
        height: 100%;
        display: flex;
        grid-column-start: 4;
        grid-column-end: 9;
        z-index: 1;
    }

    .grid-container, .footer-grid-container{
        // max-width: 75vw;
    }

    .project-description{
        color: $white;
        border-radius: .5rem;
        @include shadows-description($shadows-description);
        padding: 3rem 0;
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        background: none;
        z-index: 1;
        .sub-container{
            .title-wrapper{
                grid-row-start: 1;
                grid-row-end: 1;
                grid-column-start: 2;
                grid-column-end: 12;
            }
            .contribution-wrapper-r{
                grid-row-start: 2;
                grid-column-start: 2;
                grid-column-end: 12;
                h3{
                    margin-top: 1rem;
                }
            }
            .primary-btn, .disable-btn{
                grid-row-start: 3;
                grid-column-start: 2;
                grid-column-end: 12;
            }
        }
    }
}


@media (min-width: 1400px) {
    .neu-shadow{
        @include shadows-project($shadows-project);
    }
    .project{
        .blue-tab{
            background: #262935;
        }
        .red-tab{
            background: #352633;
        }
        .green-tab{
            background: #263527;
        }
        .max-col{
            display: flex;
        }
    }

}
