// Imports
@import '../base/variables.scss';

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $grid-gap;
    width: 100%;
    margin: 0 auto;
    height: inherit;
}

.grid-row-space{
    row-gap: $sect-spacer;
}

.grid-col-space{
    column-gap: $column-gap;
}

.row-start-1{
    grid-row-start: 1;
}

.row-start-2{
    grid-row-start: 2;
}

.row-start-3{
    grid-row-start: 3;
}

.sub-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    margin: 0 auto;
    height: inherit;
    gap: $grid-gap;
}

.glass-border-padding{
    display: flex;
    .project-size-contain{
        padding: 1rem;
    }
}

.color-block-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 100%;
}

.max-bleed{
    grid-column-start: 1;
    grid-column-end: -1;
}

.col-10{
    grid-column-start: 2;
    grid-column-end: 12;
}

.nav-grid {
    grid-column-start: 8;
    grid-column-end: 12;
}