*{
    margin: 0;
    padding: 0;
    border: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5em;
    width: 100%;
    margin: 0 auto;
    height: inherit;
    max-width: 1240px;
}


// TODO check if margin 0 auto is necessary
// !margin 0 auto on other projects overrides margin-bottom: 10vh on the wrapper
.sub-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-gap: 2em;
    width: 100%;
    margin: 0 auto;
    height: inherit;
}

.glass-border-padding{
    display: flex;
    .project-size-contain{
        padding: 1rem;
    }
}

.color-block-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 100%;
}

.max-col{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: -1;
}

.col-10{
    grid-column-start: 2;
    grid-column-end: 12;
}

.footer-grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5em;
    width: 100%;
    margin: 0 auto;
    height: inherit;
    max-width: 1240px;
}


.nav-logo{
    height: inherit;
    grid-column-start: 2;
    grid-column-end: 6;
}

.nav-grid {
    grid-column-start: 8;
    grid-column-end: 12;
}